<a href="https://colab.research.google.com/github/Maitreyi1506/OOP/blob/main/Assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Program 1

In [1]:
#Whole numbers and floating numbers

a=50
b=3.14
Name="Maitreyi"
Double=Name+" "+Name
print(a,b,Name,Double)

50 3.14 Maitreyi Maitreyi Maitreyi

# Program 2

In [3]:
#Strings 

str="My name is Maitreyi and I study in IIIT DWD"
print(str)
print(str[0])
print(str[5])
str1=str[0:15]
print(str1)
str2="I study in year %d" %2
print(str2)

My name is Maitreyi and I study in IIIT DWD
M
m
My name is Mait
I study in year 2

# Program 3

In [12]:
#String functions 

str="Sometimes programming is hard"
print(str)
str=str.replace("Sometimes","Never")
print(str)
idx=str.find("hard")
print(idx)
for x in str:
  if x=='i':
    print(True)

Sometimes programming is hard
Never programming is hard
21
True
True

# Program 4

In [13]:
# defining strings

firstName = "OOP"
lastName = "Course"
words = ["How","are","you","learning ", "OOP " , "Course","?"]

sentence = ' '.join(words)
print(sentence)

str=firstName+" "+lastName
print(str)

How are you learning  OOP  Course ?
OOP Course

# Program 5

In [14]:
#splitting words and sentences

str="This is a sample string to try splitting"
words=str.split()
print(words)

letters=list(words[0])
print(letters)

['This', 'is', 'a', 'sample', 'string', 'to', 'try', 'splitting']
['T', 'h', 'i', 's']

# Program 6

In [16]:
# testing random function

import random

print(random.random())
print(random.randrange(0,15))
print(random.uniform(0,10))

0.36325057721829057
1
9.152879315756788

# Program 7

In [20]:
#testing printing techniques

name = input('What is your name? ')
print('Welcome to OOP Course ' + name)

qualification = input('What is your Qualification? ')
print(name + "'s" + ' Educational Qualification  is ' + qualification)

phoneNum = input('Give me pohone number? ')
print('Phone number is : ' + phoneNum)

What is your name? Mait
Welcome to OOP Course Mait
What is your Qualification? CSE
Mait's Educational Qualification  is CSE
Give me pohone number? 96055
Phone number is : 96055

# Program 8

In [23]:
# an interactive program

gender = input("Gender? ")
gender = gender.lower()
if gender == "male":
    print(" cat is male")
elif gender == "female":
    print("cat is female")
else:
    print("Invalid input")
age = int(input("Age of your cat? "))

if age < 5:
    print("cat age is", age)
else:
    print("Your cat is adult.")

x=int(input("Enter x? "))
if x == 2:
    print('two')
elif x == 3:
    print('three')
elif x == 4:
    print('four')
else:
    print('something else')

Gender? MAle
 cat is male
Age of your cat? 4
cat age is 4
Enter x? 2
two

# Program 9

In [24]:
# Loops

city = ['Tokyo','New York','Toronto','Hong Kong']
print('Cities loop:')
for x in city:
    print('City: ' + x)

Cities loop:
City: Tokyo
City: New York
City: Toronto
City: Hong Kong

# Program 10

In [26]:
# Simple functions

def currentYear():
    print('2018')
currentYear()   

num = [1,2,3,4,5,6,7,8,9]
print('x^2 loop:')
for x in num:
    y = x * x

# lists
pythonList = [ "New York", "Los Angles", "Boston", "Denver" ]

print(pythonList)     
print(pythonList[0])  
print(pythonList[-1])

2018
x^2 loop:
['New York', 'Los Angles', 'Boston', 'Denver']
New York
Denver